services:
  db:
    platform: linux/x86_64
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
    volumes:
      - pg-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  rails:
    build:
      dockerfile: Dockerfile.develop
    environment:
      FRONTEND_DOMAIN: http://localhost:3000
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 7777 -b '0.0.0.0'"
    volumes:
      - .:/date-course-api:cached
    ports:
      - "7777:7777"
    depends_on:
      db:
        condition: service_healthy
    tty: true
    stdin_open: true

volumes:
  pg-data:
