name: ci-workflow
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: [main]
env:
  RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
jobs:
  ails_test:
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:13
        env:
          POSTGRES_PASSWORD: password
        ports:
          - "5432:5432"
    container:
      image: ruby:3.3.0
    steps:
      - uses: actions/checkout@v2
      - name: setup
        run: |
          gem install bundler
          bundle install
      - name: setup migrate
        run: |
          rails db:create
          rails db:migrate
      - name: run standardrb
        run: |
          standardrb
      - name: run rspec
        run: |
          rspec
